*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family:'Roboto', sans-serif;
    background-image: url(images/andres-molina-5boA6Onp77c-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#toggle-btn{
    padding:10px;
    cursor: pointer;
    position: absolute;
        top: 0;
        left: 0;
        z-index:2;
}

#toggle-btn div{
    width:22px;
    height:4px;
    background-color: white;
    margin:3px;
}


.toggle-btn-active{
    transform: rotate(90deg);
    transition-duration: 2s;
}

.toggle-btn-default{
        transform: rotate(0deg);
            transition-duration: 2s;
}

#sidebar{
position:absolute;
top:0;
left:0;
background-color:rgb(197, 197, 197);
height:100vh;
min-width:200px;
z-index:1;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}

.hidden{
transform: translateX(-200px);
transition-duration: 1.5s;
}

.active{
transform: translateX(0px);
transition-duration: 1.5s;
}

#nav{
    position:absolute;
    top:10%;
    width:200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;

}
#nav-title{
    font-size:22px;
    text-decoration: underline;
    margin-bottom:16px;
}

#nav ul{
    display:flex;
    flex-direction: column;
    width:100%;
}
#nav li{
    
    list-style: none;
    padding:14px;
    width:200px;
    cursor: pointer;
    text-align: center;
}
#nav li:hover{
    background-color:rgb(84, 128, 87);
    font-size:18px;
}
#nav li a{
    text-decoration: none;
    color: white;
}

button{
    padding:6px;
    background-color:rgb(84, 128, 87);
    border:1px solid white;
    color:linen;
    border-radius:4px;
    width:80px;
    cursor: pointer;
}


.main{
    max-height: 100vh;
    width:100%;
    color:white;
    text-align: center;
    font-size:4rem;
}

.clock{
    margin-bottom:30px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.clock span{
    margin-left:10px;
}

#greeting{
    margin-bottom:30px;
}

.today{
    font-size:32px;
}

#list{
    font-size:20px;
}

#list ul{
    margin-top:1em;
    font-size:16px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#list li{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(197, 197, 197);;
    width:180px;
    height:30px;
    color:black;
    list-style: none;
    padding:10px;
    animation: append-animate 0.65s linear;
    border-radius:4px;
    margin:3px;
    padding-top:6px;
    padding-bottom:6px;
}

#list li span{
    padding: 1em;
}

input{
    margin-right:10px;
}
li button{
    background-color:rgb(189, 23, 23);
    display:flex;
    justify-content: center;
    align-items:center;
    padding:2px;
    font-size: 9px;
    text-align: center;
    border-radius:50%;
    height:14px;
    width:14px;

}



#item{
    height:24px;
    border-radius: 4px;
    border:none;
    margin-right:20px;
    margin-left:10px;
}




@keyframes append-animate {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-height:500px){
    #greeting, .clock{
        font-size:2.5rem;
    }
    .today{
        font-size:1.5rem;
    }

        #list li{
            font-size:12px;
        }
}